html,
body {
    overflow-x: hidden;
    height: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main {
    width: 100vw;
    height: 100vh;
}

.footer {
    flex: 0 0 auto;
}

.container {
    width: 87.2%;
    margin: 0 auto;
}

.link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $mainColor;
        transition: transform 0.3s ease;
        transform: scaleX(0);
        transform-origin: bottom right;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.close {
    position: absolute;
    top: 43px;
    left: 22px;
}

/* Для iPhone 13 */
@media only screen and (max-width: 390px) and (min-width: 376px) {
    .close {
        top: 70px;
        left: 22px;
    }

    .container {
        width: 87.7%;
        margin: 0 auto;
    }
}

@media (min-width: 450px) {
    .main {
        width: 430px;
        height: 900px;
    }
}